
.GamePiece {
  font-size: 3em;
  padding: 10px;
  color: black;
  cursor: pointer;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.3);
  position: relative;
 
}
.GamePiece > div:before {
  position: absolute;
  top: 4px;
  left: 4px;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  border-radius: 10px;
  content: ' ';
  z-index: 2;
  pointer-events: none;
  transition: all 0.5s;
  box-shadow:  0px 0px 4px rgba(0, 0, 0, .2);
  background-color: rgba(0, 0, 0, 0.05);
}
.GamePiece > div.selected {
  cursor: text;
}
.GamePiece > div.selected:before {
  background-color: rgba(0, 0, 0, 0);
  box-shadow:inset 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.GamePiece > div > div {
  transition: opacity 0.5s;
  opacity: 0.5;
}
.GamePiece > div.selected > div {
  opacity: 1;

}
.GamePiece > div.O {
  color: darkblue ;
}
.GamePiece > div.X {
  color: darkred;
}
