.App {
  background-color: #222;
  text-align: center;
  color: white;
  padding: 20px;
  min-height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.buttons {
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
  max-width: 600px;
  transition: all 0.5s;
}
button {
  border: 0;
  cursor: pointer;
  padding: 0.5em 1em;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.05em;
}
button:hover {
  opacity: 0.75;
}
button.primary {
  background-color: rgb(128, 32, 32);
  
  color: white;
 
}

button.secondary {
  background-color: rgb(171, 172, 170);
  color: #222;
}